<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Julien Rouzières" />
    <title>Julien Rouzières</title>
    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section class="me">
      <div>
	<img src="https://www.gravatar.com/avatar/c0b784af08d8a7659f42b7474d1f0d03?s=180" alt="Julien Rouzières" />
      </div>
      <div class="grow1">
	<p>Julien Rouzières</p>
	<p>{{.position}}</p>
	<p><i class="fa fa-phone fa-lg"></i> <a href="tel:{{.phone.href}}">{{.phone.number}}</a></p>
      </div>
    </section>
    <script src="index.js"></script>
  </body>
</html>
