- var title = "Julien Rouzières";
- var name = "Julien Rouzières";
- var func = "Ingénieur informatique";
-
  var picture = {
    url: "https://www.gravatar.com/avatar/c0b784af08d8a7659f42b7474d1f0d03?s=180",
    alt: "Julien Rouzières"
  };
-
  var phone = {
    href: "+33672738782",
    number: "06 72 73 87 82"
  };
- var email = "julien.rouzieres@mac.com";
-
  var address = {
    street: "3 Rue Stendhal (B52)",
    city: "75020 Paris",
    href: "https://www.google.com/maps/place/3+Rue+Stendhal,+75020+Paris/@48.8605048,2.4007081,17z/data=!3m1!4b1!4m5!3m4!1s0x47e66d85d936efab:0x7258e34ef92def26!8m2!3d48.8605013!4d2.4029021"
  };
-
  var socials = {
    "fa-github": "https://github.com/Lajule",
    "fa-codepen": "https://codepen.io/Lajule"
  };
-
  var skills = {
    "C": {
      "aliases": ["C++"],
      "keywords": ["Autotools", "CMake"]
    },
    "Go": {
      "keywords": ["Gin", "Gorm"]
    },
    "JavaScript": {
      "aliases": ["TypeScript"],
      "keywords": ["Angular", "Vue.js", "Karma", "Jasmine", "Webpack"]
    },
    "PHP": {
      "keywords": ["Laravel", "Drupal"]
    },
    "Erlang": {
      "aliases": ["Elixir"],
      "keywords": ["Cowboy"]
    },
    "Java": {
      "aliases": ["Scala"],
      "keywords": ["Spring", "Hibernate", "Lombok", "JUnit", "Gradle", "Maven"]
    },
    "Node.js": {
      "keywords": ["Express", "Sequelize", "pug", "pm2"]
    },
    "Apps": {
      "keywords": ["Cordova", "Ionic"]
    },
    "Cloud": {
      "keywords": ["AWS", "Heroku", "Salesforce", "Firebase"]
    },
    "BD": {
      "keywords": ["PostgreSQL", "MySQL", "Oracle", "Redis", "MongoDB"]
    },
    "DevOps": {
      "keywords": ["Ansible", "Docker"]
    },
    "Outils": {
      "keywords": ["Jira", "Trello", "Git", "Jenkins", "Sonar"]
    }
  };
-
  var events = [{
    icon: "fa-university",
    year: "2003",
    name: "EPITA",
    site: "http://www.epita.fr",
    city: "Paris",
    description: "Multimédia",
    highlights: [
      "Algorithmique",
      "Structures de données",
      "Théorie des langages de programmation"
    ]
  }, {
    icon: "fa-building-o",
    year: "2004",
    name: "CAPGEMINI",
    site: "https://www.capgemini.com",
    city: "Paris",
    description: "Consultant",
    environments: {
      "Langages": ["C", "C++", "Delphi", "Java"],
      "Produits": ["Oracle", "Tuxedo", "WebLogic"]
    },
    highlights: [
      "Cycle en V",
      "Architecture logicielle",
      "Rédaction de spécifications",
      "Développement logiciel"
    ]
  }, {
    icon: "fa-building-o",
    year: "2010",
    name: "ULLINK",
    site: "https://www.ullink.com",
    city: "Paris",
    description: "Ingénieur projet",
    environments: {
      "Langages": ["Java"],
      "Produits": ["MySQL"]
    },
    highlights: [
      "Scrum",
      "Développement logiciel"
    ]
  }, {
    icon: "fa-building-o",
    year: "2013",
    name: "VO2 IT MANAGEMENT",
    site: "http://www.vo2-group.com",
    city: "Paris",
    description: "Consultant",
    environments: {
      "Langages": ["JavaScript", "Ruby", "Swift", "Java"],
      "Produits": ["PostgreSQL", "MongoDB", "Redis", "Salesforce"]
    },
    highlights: [
      "Avant-vente",
      "Veille technologique",
      "Architecture logicielle",
      "Scrum",
      "Développement logiciel"
    ]
  }, {
    icon: "fa-building-o",
    year: "2018",
    name: "INTERENCHERES",
    site: "https://www.interencheres.com",
    city: "Paris",
    description: "Ingénieur projet",
    environments: {
      "Langages": ["JavaScript", "PHP"],
      "Produits": ["PostgreSQL", "Elasticsearch", "Redis", "Docker"]
    },
    highlights: [
      "Veille technologique",
      "Architecture logicielle",
      "Scrum",
      "Développement logiciel"
    ]
  }, {
    icon: "fa-building-o",
    year: "2020",
    name: "RINGOVER",
    site: "https://www.ringover.fr",
    city: "Paris",
    description: "Ingénieur projet",
    environments: {
      "Langages": ["Go"],
      "Produits": ["MySQL", "Docker"]
    },
    highlights: [
      "Veille technologique",
      "Architecture logicielle",
      "Développement logiciel"
    ]
  }];
-
  var languages = [{
    src: "assets/fr.svg",
    alt: "fr"
  }, {
    href: "resume.html",
    src: "assets/gb.svg",
    alt: "en"
  }];
-
  var interests = {
    "fa-bicycle": "https://www.strava.com/athletes/35179863",
    "fa-spotify": "https://open.spotify.com/user/lajule?si=413ZjPfISQm187tJRU6FNA"
  };
- var birthdate = "4 Novembre 1978";
- var nationality = "Française";
- var licence = "Permis B";
- var copyright = "2021 Julien Rouzières";

doctype html
html(lang='fr')
  head
    include _head.pug

  body
    include _body.pug

    script(src='scripts/main.processed.js')
