@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

:root {
  --green: #3d5300;
  --sage: #abba7c;
  --yellow: #ffe31a;
  --orange: #f09319;
}

html {
    background: var(--sage);
}

.me {
    width: 100%;
    display: flex;
    gap: 16px;
}

.grow1 {
    flex-grow: 1;
}
