@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --green: #3d5300;
  --sage: #abba7c;
  --yellow: #ffe31a;
  --orange: #f09319;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    color: var(--green);
    background-color: var(--sage);
}

a {
    color: var(--green);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin: 20px;
    min-width: 300px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.bar {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.list {
    list-style-type: none;

    li::before {
	content: "\f18e\00a0";
	font-family: "FontAwesome";
    }
}

@media (min-width: 768px) {
    .container {
        width: 80%;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 75%;
    }
}
