@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --green: #3d5300;
  --sage: #abba7c;
  --yellow: #ffe31a;
  --orange: #f09319;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

.me {
    background-image: url("https://www.gravatar.com/avatar/c0b784af08d8a7659f42b7474d1f0d03?s=180");
    background-repeat: no-repeat;
    background-position: cover;
}

@media (min-width: 768px) {
    .container {
        width: 80%;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 75%;
    }
}
