html,
body {
  height: 100%;
  color: #ffffff;
  font-family: "Exo", sans-serif;
  font-size: 16px;
}

.basics-wrapper {
  display: flex;
  flex-direction: row;
  background: #12232e;
  justify-content: center;
}
.basics-wrapper .basics .name {
  margin: 20px 0 10px;
  text-align: center;
  font-size: 3.7rem;
  font-weight: bold;
}
.basics-wrapper .basics .func {
  margin: 10px 0;
  text-align: center;
  font-size: 2.3rem;
}
.basics-wrapper .basics .picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.basics-wrapper .basics .picture img {
  border-radius: 50%;
  margin: 10px 0;
}
.basics-wrapper .basics .email,
.basics-wrapper .basics .phone {
  margin: 10px 0;
  text-align: center;
}
.basics-wrapper .basics .email a,
.basics-wrapper .basics .phone a {
  color: #ffffff;
}
.basics-wrapper .basics .location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0 20px;
  text-align: center;
}
.basics-wrapper .basics .location a {
  color: #ffffff;
}

.socials {
  display: flex;
  flex-direction: row;
}
.socials li {
  flex-grow: 1;
  padding: 40px;
  text-align: center;
}
.socials li:nth-child(1) {
  background: #0f1d27;
}
.socials li:nth-child(2) {
  background: #0c181f;
}
.socials li a {
  color: #ffffff;
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.skills .skill {
  flex-grow: 1;
  flex-basis: calc((100% / 7) - 40px);
  padding: 20px;
  text-align: center;
}
.skills .skill:nth-child(1) {
  background: #0076bd;
}
.skills .skill:nth-child(2) {
  background: #006fb3;
}
.skills .skill:nth-child(3) {
  background: #0069a8;
}
.skills .skill:nth-child(4) {
  background: #00639e;
}
.skills .skill:nth-child(5) {
  background: #005c94;
}
.skills .skill:nth-child(6) {
  background: #00568a;
}
.skills .skill:nth-child(7) {
  background: #005080;
}
.skills .skill:nth-child(8) {
  background: #004975;
}
.skills .skill:nth-child(9) {
  background: #00436b;
}
.skills .skill:nth-child(10) {
  background: #003c61;
}
.skills .skill:nth-child(11) {
  background: #003657;
}
.skills .skill:nth-child(12) {
  background: #00304d;
}
.skills .skill:nth-child(13) {
  background: #002942;
}
.skills .skill .name {
  font-size: 3.2rem;
  font-weight: bold;
}
.skills .skill .aliases {
  display: flex;
  height: 30px;
  flex-direction: row;
  justify-content: space-around;
  font-size: 0.9rem;
  font-style: italic;
}
.skills .skill .keywords {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Vollkorn", sans-serif;
}

.timeline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .timeline {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
  }
}
.timeline .event {
  flex-grow: 1;
  flex-basis: calc((100% / 3) - 40px);
  padding: 20px;
}
.timeline .event:nth-child(1) {
  background: #45a4d8;
}
.timeline .event:nth-child(2) {
  background: #3ca0d6;
}
.timeline .event:nth-child(3) {
  background: #349cd5;
}
.timeline .event:nth-child(4) {
  background: #2c97d2;
}
.timeline .event:nth-child(5) {
  background: #2a91ca;
}
.timeline .event:nth-child(6) {
  background: #288bc2;
}
.timeline .event:nth-child(7) {
  background: #2685b9;
}
.timeline .event:nth-child(8) {
  background: #257fb1;
}
.timeline .event > i:nth-child(1) {
  float: left;
}
.timeline .event .year {
  margin: 40px 0 20px;
  font-size: 4.2rem;
  font-weight: bold;
  text-align: center;
}
.timeline .event .details .name {
  margin-top: 10px;
  font-size: 2.1rem;
  text-align: center;
}
.timeline .event .details .site {
  margin: 5px 0;
  text-align: center;
}
.timeline .event .details .site a {
  color: #ffffff;
}
.timeline .event .details .city {
  text-align: center;
}
.timeline .event .details .description {
  margin: 20px;
  font-size: 1.8rem;
  text-align: center;
}
.timeline .event .details .highlights-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 155px;
}
.timeline .event .details .highlights-wrapper .highlights {
  margin: 20px 0;
  font-family: "Vollkorn", sans-serif;
}
.timeline .event .details .highlights-wrapper .highlights li {
  margin: 5px 0;
}
.timeline .event .details .environments {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.timeline .event .details .environments .environment {
  margin: 0 20px;
}
.timeline .event .details .environments .environment .type {
  margin: 5px 0;
  font-weight: bold;
}
.timeline .event .details .environments .environment .entries {
  font-family: "Vollkorn", sans-serif;
}

.interests {
  color: #000000;
  display: flex;
  flex-direction: row;
}
.interests li {
  flex-grow: 1;
  padding: 40px;
  text-align: center;
}
.interests li:nth-child(1) {
  background: #e6f9f9;
}
.interests li:nth-child(2) {
  background: #ddf7f7;
}
.interests a {
  color: #000000;
}

.personnal {
  color: #000000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 360px;
  background: #eefbfb;
  justify-content: center;
  padding: 20px 0 60px;
}
.personnal a {
  color: #000000;
}
.personnal .informations li {
  margin: 40px 40px 0;
}

.languages {
  display: flex;
  flex-direction: row;
}
.languages li {
  flex-grow: 1;
  padding: 40px;
  text-align: center;
}
.languages li img {
  height: 33px;
  width: 40px;
}
